.main-full-container {
  margin-top: 80px;
  display: flex;
}

.grade-description,
.grade-img {
  background-color: #ffffff;
  border: 3px solid #f4b659;
  border-radius: 50px; /* Скругленные углы */
}

.grade-description {
  position: relative;
  width: 370px;
  height: 149.77px;
  padding: 20px; /* Внутренний отступ */
  margin: 0; /* Удаление внешнего отступа для перезаписи */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Поместили grade-description поверх grade-img */
}

.grade-description p {
  text-align: center;
  font-size: 22px;
}

.grade-img {
  position: absolute;
  top: -50px;
  left: 0; /* Помещаем в левый верхний угол */
  width: 75px;
  height: 75px;
  z-index: 2; /* grade-img находится поверх grade-description */
  background-color: #ffffff;
  border: 3px solid #f4b659;
  border-radius: 50px; /* Скругленные углы */
  display: flex;
  justify-content: center;
  align-items: center;
}
