.card {
  background-color: #e4e9ea;
  width: 800px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
}
.img {
  width: 50%;
  height: 50%;
  display: flex;
  border-radius: 50%;
}
.update {
  background-color: rgb(79, 87, 210);
}
.delete {
  background-color: #ef5350;
}
.save {
  background-color: #66bb6a;
}
.cardSmall1 {
  background-color: #e4e9ea;
  width: 450px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
}
.cardSmall {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Выравнивание содержимого по горизонтали */
  background-color: #d9d9d9;
  border-radius: 50px;
  gap: 20px;
  padding-bottom: 20px;
}
