.card {
  background-color: #e4e9ea;
  width: 800px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
}
.img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  display: flex;
  border-radius: 20px;
}
.update {
  background-color: rgb(79, 87, 210);
}
.delete {
  background-color: #ef5350;
}
.save {
  background-color: #66bb6a;
}
.cardSmall1 {
  background-color: #e4e9ea;
  width: 450px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
}
.cardSmall {
  font-size: 20px;
  width: 300px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Выравнивание содержимого по горизонтали */
  background-color: #d9d9d9;
  border-radius: 50px;
  gap: 5px;
  padding: 10px;
}

.docName {
  margin: 0;
  padding: 0;
}

.modal_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный задний фон */
  display: flex;
  justify-content: center; /* Выравнивание по горизонтали */
  align-items: center; /* Выравнивание по вертикали */
  z-index: 1000; /* Убедитесь, что это значение z-index выше, чем у модального окна */
}

.modal_absolut {
  width: 800px;
  border-radius: 30px;
  position: absolute; /* Позиционирование модального окна */
  background-color: white; /* Цвет фона модального окна */
  padding: 20px; /* Произвольные отступы */
  z-index: 1001; /* Убедитесь, что это значение z-index выше, чем у заднего фона */
}
