.chatContainer {
  display: flex;
  margin: 20px;
}
.chats {
  width: 300px;
}

.btnChats {
  border: 1px solid #f4b659;
  border-radius: 15px;
  width: 200px;
  height: 75px;
  margin: 5px;
}

textarea {
  border: 1px solid black;
  display: block;
  border-radius: 10px;
  width: 1000px;
  height: 100px;
}

.nameMessage {
  color: gray;
  font-size: 16px;
}