.container_main_card_doctor_description {
  width: 673px;
  height: 379px;
  gap: 20px;
}

.img_card_doctor {
  width: 360px;
}

.green_circle {
  background-color: #55a394;
  width: 57px;
  height: 57px;
  border-radius: 50%;
}

.container_MainCardDoctor_height {
  height: 700px;
}

.rotated {
  transform: rotate(180deg); /* Поворот картинки на 180 градусов */
}
