.profile_left_container {
    width: 20%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0px 20px 0px; /* Верхний, правый, нижний, левый отступы */
    box-shadow: 2px 2px 2px 1px rgba(1, 1, 2, 0.1); /* Уменьшаем тень: смещение по X, смещение по Y, размер размытия, размер распространения тени, цвет */
    margin-right: 20px; /* Добавление отступа справа */
  }
  
  .profile_left_container img {
    display: block; /* Изменение дисплея на block */
    margin: 0 auto; /* Центрирование изображения по горизонтали */
  }
  
  .profile_left_container_appointment {
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid blue; /* Добавляем синий border */
    border-radius: 20px; /* Задаем округленные углы */
    padding: 10px; /* Добавляем внутренние отступы */
  }
  
  .profile_left_container_appointment:hover {
    background-color: rgba(173, 216, 230, 0.4); /* Изменение цвета фона при наведении */
  }
  
  .profile_left_container_appointment a {
    text-decoration: none;
  }
  .profile_left_container_appointment a:active,
  .profile_left_container_appointment a:focus {
    outline: none;
  }
  
  .profile_left_container_links {
    width: 100%;
    display: flex;
    flex-direction: column; /* Разместить элементы в столбец */
    gap: 10px; /* Интервал между ссылками */
    align-items: center; /* Выравнивание по центру по горизонтали */
  }
  
  .profile_left_container_links a {
    width: 100%; /* Занимать всю доступную ширину */
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .profile_left_container_links a p {
    margin: 0; /* Убрать внутренние отступы у абзацев (p элементов) */
    width: 100%; /* Занимать всю доступную ширину */
    text-align: center; /* Выравнивание текста по центру */
  }
  
  .profile_left_container_links a:hover {
    background-color: #f2f2f2; /* Изменение фона при наведении */
  }
  