.main_full_container {
  margin-top: 40px;
}

#one_sub_container {
  font-size: 30px;
  width: 670px;
}

#two_sub_container {
  font-size: 22px;
  width: 400px;
}

.main_container_appointment {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
